<div class="side-menu">
  <div class="menu-itens">
    <div class="top">><p>SLACA 2019</p></div>
    <div class="logo">
      <img src="../../../assets/imgs/logo-evento.png" alt="logo-evento">
    </div>
    <div class="menu-item">
      <a>
        <p>Apresentação</p>
      </a>
    </div>
    <div class="menu-item">
      <a>
        <p>Comitês</p>
      </a>
    </div>
    <div class="menu-item">
      <a>
        <p>Autores</p>
      </a>
    </div>
    <div class="menu-item">
      <a>
        <p>Eixos temáticos</p>
      </a>
    </div>
    <div class="menu-item ativo">
      <a class="ativo">
        <p>Trabalhos</p>
      </a>
    </div>
    <div class="menu-item">
      <a>
        <p>Contato</p>
      </a>
    </div>
  </div>
</div>