<div class="side-menu">
  <div class="menu-itens">
    <div class="top"><p>SLACA 2019</p></div>
    <div class="logo">
      <img src="../../../assets/imgs/logo-evento.png" alt="logo-evento">
    </div>
    <div class="menu-item" id="item-1" (click)="highlightSelectedOption('item-1')">
      <a>
        <p>Apresentação</p>
      </a>
    </div>
    <div class="menu-item" id="item-2" (click)="highlightSelectedOption('item-2')">
      <a>
        <p>Comitês</p>
      </a>
    </div>
    <div class="menu-item" id="item-3" (click)="highlightSelectedOption('item-3')">
      <a>
        <p>Autores</p>
      </a>
    </div>
    <div class="menu-item" id="item-4" (click)="highlightSelectedOption('item-4')">
      <a>
        <p>Eixos temáticos</p>
      </a>
    </div>
    <div class="menu-item" id="item-5" (click)="highlightSelectedOption('item-5')">
      <a>
        <p>Trabalhos</p>
      </a>
    </div>
    <div class="menu-item" id="item-6" (click)="highlightSelectedOption('item-6')">
      <a>
        <p>Contato</p>
      </a>
    </div>
  </div>
</div>