.topic-card{
  border: 1px solid #E7E7E7;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 0px #0000001F;
  margin-bottom: 20px;
}

.topic-card-content{
  margin: 20px;
}

.topic-subject{
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ED7839;
  margin-bottom: 5px;
}

.topic-username{
  font-family: Quicksand;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #5C5C5C;
  margin-bottom: 10px;
}

.topic-card-body p {
  font-family: Quicksand;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  color: #4D4D4D;
  margin-bottom: 10px;
}

.topic-card-footer{
  display: flex;
  align-items: center;
}

.topic-card-footer #faEllipsisVertical{
  color: #ED7839;
  font-size: 23px;
  margin-right: 15px;
}

.topic-card-footer #faEllipsisVertical:hover{
  color: #c5612b;
  cursor: pointer;
}

.topic-card-footer button{
  width: 28px;
  height: 21px;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  background-color: #ED7839;
  box-shadow: 0px 2px 2px 0px #0000003D;
  margin-right: 15px;
}

.topic-card-footer button:hover{
  background-color: #c5612b;
  cursor: pointer;
}

.topic-card-footer button #faHeart{
  position: relative;
  top: 1px;
}

.topic-card-footer p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 350;
  line-height: 18.62px;
  color: #4D4D4D;
  margin-right: 15px;
}

.blur{
  filter: blur(5px);
}

.waiting-feedback{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -60px;
}

.waiting-feedback fa-icon{
  font-size: 30px;
  margin-bottom: 10px;
}

.waiting-feedback p{
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #707070;
  margin-bottom: 10px;
}

.waiting-feedback a{
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.62px;
  color: #ED7839;
  text-decoration: underline;
}

.waiting-feedback a:hover{
  cursor: pointer;
  color: #ce6329;
}

.topic-card:has(.topic-card-content.blur){
  background-color: #e6e6e6;
}