<div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="main">
    <header>
      <div class="summary">
        <p class="topic">Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
        <p class="title">Anais do 13º Simpósio Latino Americano de Ciências de Alimentos</p>
        <p class="issn-code">ISSN: 1234-5678</p>
      </div>
      <div class="languages">
        <a class="dropdown">
          <fa-icon [icon]="faGlobe" id="faGlobe"></fa-icon>
          <span>PT, BR</span>
          <fa-icon [icon]="faCaretDown" id="faCaretDown"></fa-icon>
        </a>
      </div>
      <div class="login">
        <div>
          <p class="welcome">Bem Vindo!</p>
          <p class="user-email">alguem12@galoascience.com</p>
        </div>
        <div  class="profile-image">
          <span class="notification-badge">2</span>
        </div>
      </div>
    </header>

    <div class="content">
      <div class="introduction">
        <div class="topic-header">
          <h2 class="title">
            Análise sensorial de preparações funcionais desenvolvidas para 
            escolares entre 09 e 15 anos, do município de Campinas/SP
          </h2>
          <div class="topic-buttons">
            <div id="topic-buttons-div">
              <button class="download-btn"><fa-icon [icon]="faDownload" id="faGlobe"></fa-icon> <span>Download</span></button>
              <button class="favorite-btn"><fa-icon [icon]="faStar" id="faGlobe"></fa-icon></button>
              <button class="doi-btn"><img src="../../assets/imgs/doi.png" alt="doi-logo"></button>
            </div>
            <p>COMO CITAR ESSE TRABALHO?</p>
          </div>
        </div>
        <div class="details-section">
        </div>
      </div>
      
    </div>

    <footer>
      <img src="../../assets/imgs/footer.png" alt="footer-image">
    </footer>
  </div>
</div>