<div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="main">
    <header>
      <div class="summary">
        <p class="topic">Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
        <p class="title">Anais do 13º Simpósio Latino Americano de Ciências de Alimentos</p>
        <p class="issn-code">ISSN: 1234-5678</p>
      </div>
      <div class="languages">
        <a class="dropdown">
          <fa-icon [icon]="faGlobe" id="faGlobe"></fa-icon>
          <p>PT, BR</p>
          <fa-icon [icon]="faCaretDown" id="faCaretDown"></fa-icon>
        </a>
      </div>
      <div class="login">
        <div>
          <p class="welcome">Bem Vindo!</p>
          <p class="user-email">alguem12@galoascience.com</p>
        </div>
        <div  class="profile-image">
          <span class="notification-badge">2</span>
        </div>
      </div>
    </header>
  </div>
</div>